   <div class="container-fluid" style="padding:50px">
    <div class="footer">
      <p>
        <small>
          <a href="https://github.com/singularityhub">&copy; 2021 @vsoch.</a>
        </small>
        <small>This catalog is generated automatically by querying Github APIs; the creators are not responsible for the linked recipes.</small>
        <span style="float:right"><small>Source code: <a
          href="https://github.com/singularityhub/singularity-catalog">https://github.com/singularityhub/singularity-catalog</a>
        </small></span>
      </p>
    </div>
</div>
