Bootstrap: debootstrap
OSVersion: bionic
MirrorURL: http://us.archive.ubuntu.com/ubuntu/

%post
    apt update
    apt install -y software-properties-common
    apt-add-repository universe
    apt update
