<!doctype html>
<html lang="en">

  <head>
  {% include head.html %}
  </head>

  <body>

  <div class="container-fluid">
  <div class="row" style="padding-top:15px; padding-left:50px">
     <div class="col-md-9">
      <a href="{{ site.baseurl }}/" id='logolink' style="color:#e32929">
        <img src="{{ site.baseurl }}/assets/img/singularity-catalog.png" style="width:100px;padding-right:15px"/> {{ site.title }}
    </a>
     </div>
     <div class="col-md-3" style="float:right">
        <a type="button" style="float:right; margin-right:5px" class="button btn-sm btn-danger" href="#" data-toggle="modal" data-target="#about-popup">About</a>
        <a href="{{ site.baseurl }}/bases/"><img src="{{ site.baseurl }}/assets/img/plot.png" style="width:300px; float:right; margin-right:200px" title="What bases and tags are used?"></a>
     </div>
  </div>
  
    {% include scripts.html %}
    <div id="content">
        {{ content }}
    </div>

    {% include footer.html %}
  </div>
  </body>

</html>
